<div class="game">
  {{#each model as |row|}}
    <div class="row">
      {{#each row as |cell|}}
        <div class="cell {{if (and cell.displayValue (and currentlySelectedCell.displayValue (eq cell.value currentlySelectedCell.displayValue))) "same-value"}} {{if cell.given "given"}} {{if cell.selected "selected"}}" {{action "select" cell}}>
          {{# if cell.displayValue}}
            <div class="guess">
              {{cell.displayValue}}
            </div>
          {{else}}
            <div class="hints">
              <div class="hint-row">
                <span class={{if (includes cell.hints 1) "shown"}}>1</span>
                <span class={{if (includes cell.hints 2) "shown"}}>2</span>
                <span class={{if (includes cell.hints 3) "shown"}}>3</span>
              </div>
              <div class="hint-row">
                <span class={{if (includes cell.hints 4) "shown"}}>4</span>
                <span class={{if (includes cell.hints 5) "shown"}}>5</span>
                <span class={{if (includes cell.hints 6) "shown"}}>6</span>
              </div>
              <div class="hint-row">
                <span class={{if (includes cell.hints 7) "shown"}}>7</span>
                <span class={{if (includes cell.hints 8) "shown"}}>8</span>
                <span class={{if (includes cell.hints 9) "shown"}}>9</span>
              </div>
            </div>

          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>

<div class="buttons">
  <div class="row">
    <button {{action "stepBack"}}>back</button>
    <button {{action "selectNumber" 1}}>1</button>
    <button {{action "selectNumber" 2}}>2</button>
    <button {{action "selectNumber" 3}}>3</button>
    <button {{action "showMenu"}}>Menu</button>
  </div>
  <div class="row">
    <button {{action "stepForward"}}>next</button>
    <button {{action "selectNumber" 4}}>4</button>
    <button {{action "selectNumber" 5}}>5</button>
    <button {{action "selectNumber" 6}}>6</button>
  </div>
  <div class="row">
    <button {{action "inverseSelection"}}>inv</button>
    <button {{action "selectNumber" 7}}>7</button>
    <button {{action "selectNumber" 8}}>8</button>
    <button {{action "selectNumber" 9}}>9</button>
    <button {{action "clearCell"}}>C</button>
  </div>
</div>
{{outlet}}